body {
	margin: 0px;
	padding: 0px;
	font-family: 'Ubuntu', sans-serif;
	background-color: #f7f4f3;
	color: #564d4a;
}

nav {
	height: auto;
	padding: 4px;
	background-color: #564d4a;
	display: block;
}

nav div {
	margin: auto;
	display: inline-block;
	width: 40%;
}

nav a {
	padding: 5px;
	text-decoration: none;
	color: #f7f4f3;
	font-size: 110%;
}

nav a:hover{
	background-color: #f24333;
	color: #f7f4f3;
}

main {
	width: 90%;
	margin: auto;
	padding-top: 20px;
}

a {
	color: #5b2333;
}

a:hover {
	color: #f24333;
}

table {
    border-collapse: collapse;
	margin: auto;
}

table, th, td {
    border: 1px solid #f7f4f3;
}

th {
	background-color: #ba1b1d;
	color: #f7f4f3;
}

.login {
    margin: auto;
	width: 30%;
}

.login input {
	display: block;
	margin: auto;
	margin-top: 5px;
}

input {
	font-family: 'Ubuntu', sans-serif;
}

.bar {
	text-align: center;
	font-size: 110%;
	background-color: #5b2333;
	color: #f7f4f3;
}

button {
	background-color: #5b2333;
	color: #f7f4f3;
	border: none;
	font-family: 'Ubuntu', sans-serif;
}

.login button {
	margin: auto;
	display: block;
	margin-top: 5px;
}